<div class="container-lg UserContainer">
  <h2>設定</h2>
  <div class="row">
    <div class="col-3">
      <%= render "shared/sidenavi" %>
    </div>
    <div class="col-9">
      <div class="Account_Title mb-3">
        <h3>プロフィール</h3>
        <%= link_to edit_users_profile_path, class: "btn btn-primary" do %>
          <i class="bi bi-pencil"></i>
          <span>編集</span>
        <% end %> 
      </div>
      <table class="table">
        <tr class="row">
          <th class="col-4">アイコン画像</th>
          <td class="col-8"><%= image_tag @user.img.url, class: "rounded-circle", alt: "アイコン画像", width: "80", height: "80" %></td>
        </tr>
        <tr class="row">
          <th class="col-4">ユーザ名</th>
          <td class="col-8"><%= @user.name %></td>
        </tr>
        <tr class="row">
          <th class="col-4">自己紹介</th>
          <td class="col-8"><%= @user.introduction %></td>
        </tr>
      </table>
    </div>
  </div>
</div>
