<div class="container">
  <div class="Reservation_Confirm_Container">
    <h2>予約内容の確認</h2>
    <table class="table mt-3">
      <tr>
        <th>チェックイン日</th>
        <td><%= l @reservation.checkin_date %></td>
      </tr>
      <tr>
        <th>チェックアウト日</th>
        <td><%= l @reservation.checkout_date %></td>
      </tr>
      <tr>
        <th>宿泊日数</th>
        <td><%= "#{@reservation.reservation_date}日" %></td>
      </tr>
      <tr>
        <th>人数</th>
        <td><%= "#{@reservation.number_of_people}人" %></td>
      </tr>
      <tr>
        <th>合計金額</th>
        <td><%= number_to_currency(@reservation.total_cost, :locale => "ja") %></td>
      </tr>
    </table>
    <p class="mb-5">上記内容で問題なければ「予約を確定」ボタンを押してください。</p>
    <%= form_with(model: @reservation) do |f| %>
      <%= f.hidden_field :checkin_date %>
      <%= f.hidden_field :checkout_date %>
      <%= f.hidden_field :number_of_people %>
      <%= f.submit "予約を確定", class:"btn btn-primary mb-3 fs-5 w-100" %>
      <%= link_to "キャンセル", :back, class:"btn btn-secondary fs-5 w-100" %>
    <% end %>
  </div>
</div>
