<div class="Container">
  <div class="FormContainer">
      <h2 class="mb-3">ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <%= f.label :email, class: "form-label Write_Required" %>
          <%= f.email_field :email, class: "form-control", placeholder: "メールアドレスを入力", autofocus: true, autocomplete: "email" %>
          <%= render "devise/shared/error_messages", object: resource, key: "email" %>
        </div>
      
        <div class="field mb-3">
          <%= f.label :password, class: "form-label Write_Required" %>
          <%= f.password_field :password, class: "form-control", placeholder: "パスワードを入力", autocomplete: "new-password" %>
          <%= render "devise/shared/error_messages", object: resource, key: "password" %>
        </div>
      
        <% if devise_mapping.rememberable? %>
          <div class="field form-check mb-3">
            <%= f.check_box :remember_me, class: "form-check-input" %>
            <%= f.label :remember_me, class: "form-check-label" %>
          </div>
        <% end %>
      
        <div class="actions mb-3">
          <%= f.submit "ログイン", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
      <%= link_to "新しいアカウントを作成", new_registration_path(resource_name), class: "btn btn-secondary w-100" %>
  </div>
</div>
